{% extends 'base.html' %}
{% block content %}
<div class="container text-center mt-5">
  <h1 class="mb-4">Hello, Docker!</h1>
  {% if logged_in %}
  <p class="lead">
    Welcome back, {{ username }}! You have visited this page
    <strong>{{ visit_count }}</strong> times.
  </p>
  <a href="/logout" class="btn btn-warning btn-lg">Logout</a>
  {% else %}
  <p class="lead">You are not logged in.</p>
  <a href="/login">Login</a>
  <br />
  <a href="/login/google">Login with Google</a>
  {% endif %}
  <div class="mt-5">
    <a href="/leaderboard" class="btn btn-info btn-lg">View Leaderboard</a>
  </div>
  <div class="mt-4">
    <form action="{{ url_for('main.reset') }}" method="get">
      <button type="submit" class="btn btn-danger btn-lg">
        Reset Visit Count
      </button>
    </form>
  </div>
</div>
{% endblock %}
